/* FONTS */

@font-face {
  font-family: "Fredoka One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/fredoka-one-v12-latin-regular.woff2") format("woff2"), 
       url("../fonts/fredoka-one-v12-latin-regular.woff") format("woff"); 
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto-v29-latin-regular.woff2") format("woff2"), 
       url("../fonts/roboto-v29-latin-regular.woff") format("woff"); 
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/roboto-v29-latin-500.woff2") format("woff2"),
       url("../fonts/roboto-v29-latin-500.woff") format("woff"); 
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/roboto-v29-latin-700.woff2") format("woff2"), 
       url("../fonts/roboto-v29-latin-700.woff") format("woff"); 
}


@font-face {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/hind-madurai-v10-latin-regular.woff2") format("woff2"), 
       url("../fonts/hind-madurai-v10-latin-regular.woff") format("woff"); 
}

@font-face {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/hind-madurai-v10-latin-600.woff2") format("woff2"), 
       url("../fonts/hind-madurai-v10-latin-600.woff") format("woff");
}

@font-face {
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/hind-madurai-v10-latin-700.woff") format("woff2"), 
       url("../fonts/hind-madurai-v10-latin-700.woff") format("woff"); 
}
/* FONTS */


 /* SAIT HEADER */
* {
  box-sizing: border-box;
}
body{
  font-family: "Roboto";
}
.sait-bck-color{
  background-color: #F8EDF0;
}
.container {
  width: 1240px;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
}
.header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-link{
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #150101;
  opacity: 0.6;
}
.list-link:hover{
  color: #ff0000;
}
.nav-list{
  width: 450px;
  margin-left: 150px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.header-button{
  width: 145px;
  height: 40px;
  background-color: #D23166;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "Hind Madurai";
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #FAFAFA;
}
.header-button:hover{
  background-color: #FAFAFA;
  border: 2px solid #D23166;
  border-radius: 5px;
  color: #D23166;
}
/* SAIT HEADER */


/* HERO */

.sait-hero{
  background-color: #F8EDF0;
}
.hero-heding{
  width: 665px;
  font-family: "Fredoka One";
  font-size: 57.33px;
  margin-top: 6px;
  line-height: 120.5%;
  color: #0F0101;
  opacity: 0.9;
}
.here-list-span{
  font-family: Fredoka One;
  font-style: normal;
  font-weight: normal;
  font-size: 57.33px;
  line-height: 120.5%;
  color: #D23166;
  opacity: 0.9;
}
.hero-list-text{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #0F0101;
}
.main-box{
  margin-top: 196px;
}
.main-box-text{
  width: 500px;
  font-family: Hind Madurai;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #0F0101;
  opacity: 0.6;
}
.main-button{
  width: 145px;
  height: 40px;
  background-color: #D23166;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "Hind Madurai";
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #FAFAFA;
}
.main-button:hover{
  background-color: #FAFAFA;
  border: 2px solid #D23166;
  border-radius: 5px;
  color: #D23166;
}
.sait-hero-wrapper{
  height: 800px;
  display: flex;
  background-image: url(../img/bg-image\(1\).png);
  background-position: top 50px right -219px;
  background-repeat: no-repeat;
}


.section-list-2{
  height: 300px;
}
.section-list-item{
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.heding-section-2{
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
}
.box{
  margin-top: 100px;
}
.section-text-2{
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  opacity: 0.6;
}
.ul-list-item{
  width: 250px;
  height: 200px;
  text-align: center;
  padding: 20px;
}
.ul-list-item:hover{
  background: #FFFFFF;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}




.list-section-3{
  height: 542px;
  background-color: #F2CEDA;
}
.section-box-list-3{
  width: 349px;
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: 600;
  font-size: 44.2px;
  line-height: 49px;
  color: #150101;
  margin-bottom: 0;
}
.section-box-text-3{
  width: 442px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #150101;
  opacity: 0.6;
}
.section-box-button-3{
  width: 145px;
  height: 40px;
  background-color: #D23166;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "Hind Madurai";
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #FAFAFA;
}
.section-box-button-3:hover{
  background-color: #FAFAFA;
  border: 2px solid #D23166;
  border-radius: 5px;
  color: #D23166;
}
.section-3-box{
  margin-top: 100px;
}
.section-3-box-4{
  display: flex;
}
.logo{
  margin-left: 150px;
  padding-bottom: 100px;
}
.section-list-4{
  font-family: Hind Madurai;
  font-style: normal;
  font-weight: 600;
  font-size: 44.2px;
  line-height: 61px;
  color: #150101;
  text-align: center;
  margin-top: 80px;
}
.list-section-4{
  width: 887px;
  margin-left: 145px;
  display: flex;
  list-style-type: none;
  justify-content: space-between;

}
.list-link-section-4{
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color:rgb(59, 58, 58);
  opacity: 0.6;
}
.list-link-section-4:hover{
  color: #000000;
}
.list-img{
  margin-top: 50px;
}
.section-4-heding{
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 36px;
  color: #000000;
  margin-bottom: 0;
}
.section-box-7{
  display: flex;
}
.section-6-box{
  text-align: end;
}
.section-box-4{
  display: flex;
}
.siction-text-4{
  width: 454px;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  opacity: 0.7;
}
.section-list-span-4{
  font-family: "Hind Madurai";
  font-size: 24px;
  color: #000000;
}
.section-4-del{
  font-family: "Hind Madurai";
  font-style: normal;
  margin-left: 10px;
  font-size: 20px;
  text-decoration-line: line-through;
  color: #000000;
  opacity: 0.7;
}
.section-4-botton{
  width: 145px;
  height: 40px;
  background-color: #D23166;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "Hind Madurai";
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #FAFAFA;
}
.section-4-botton:hover{
  background-color: #FAFAFA;
  border: 2px solid #D23166;
  border-radius: 5px;
  color: #D23166;
}
.box-botton{
  margin-top: 15px;
}
.section-box-5{
  width: 454px;
  margin-top: 100px;
  margin-left: 85px;
}
.section-text-5{
  width: 444px;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #000000;
  opacity: 0.7;
}
.section-box-6{
  width: 444px;
  margin-left: 50px;
}
.section-5-heding{
  font-family: "Hind Madurai";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 36px;
  color: #000000;
  text-align: end;
  margin-bottom: 0;
}
.box-botton-5{
  text-align: end;
  margin-top: 15px;
}
.section-list-img{
  margin-left: 100px;
}
.list-section{
  margin-top: 50px;
}
.section-box-8{
  width: 454px;
  margin-top: 100px;
  margin-left: 85px;
}
.span-img{
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  display: block;
}
.section-11{
  margin-top: 8px;
  margin-left: 20px;
}
.span-list-1{
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  opacity: 0.7;
}
.section-blockquote{
  width: 322px;
  margin-top: 35px;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  opacity: 0.7;
}
.boxx{
  width: px;
  margin-top: 30px;
}
.list-photo{
  margin-left: 20px;
}
.section-list-img2{
  margin-left: 190px;
}
.section-box-4-list{
  margin-top: 85px;
  margin-left: 80px;
}
.a{
  color: #D23166;
  font-size: 30px;
}
.list-section-a{
  height: 634px;
  background-color: #F8EDF0;
}
.logotip{
  margin-top: 36px;
  
}
.section-heding-list{
  font-size: 44.2px;
  color: #000000;
  margin-bottom: 0;
}
.section-text{
  width: 607px;
  margin-top: 20px;
  font-size: 18px;
  color: #0F0101;
  opacity: 0.7;
}
.section-list-box-1{
  margin-top: 85px;
  margin-left: 135px;
}
.ul-list{
  padding: 0;
  list-style-type: none;
}
.list-span{
  text-decoration: none;
  padding-left: 8px;
  font-size: 18px;
  color: #000000;
}
.list{
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.section-boxa{
  padding-left: 0;
}
.heding-33{
  margin-top: 100px;
  text-align: center;
  font-size: 44px;
  color: #000000;
}
.number-input{
  width: 303px;
  height: 74px;
  margin-right: 20px;
  background: #FFFFFF;
  border: 1px solid #FFA3A3;
  border-radius: 5px;
  padding-left: 25px;
}
.sait-form{
  text-align: center;
}
.text-option{
  width: 303px;
  height: 74px;
  background: #FFFFFF;
  border: 1px solid #FFA3A3;
  border-radius: 5px;
  padding-left: 25px;
}
.sait-select{
  width: 303px;
  height: 74px;
  /* position: relative;
  right: 20px; */
  background: #FFFFFF;
  border: 1px solid #FFA3A3;
  border-radius: 5px;
  appearance: none;
}
.list-input{
  width: 630px;
  height: 74px;
  margin-top: 20px;
  background: #FFFFFF;
  border: 1px solid #FFA3A3;
  border-radius: 5px;
  padding: 25px;
}
.form-list-button{
  width: 143px;
  height: 74px;
  position: relative;
  left: 245px;
  bottom: 74px;
  border: none;
  color: #ffffff;
  background: #D64374;
  border-radius: 5px;
  cursor: pointer;
}
.section-list-box-2{
  width: 637px;
  margin-left: 280px;
}
.list-section-1{
  margin-top: 110px;
  margin-bottom: 110px;
}
.foter-box{
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}
.sait-footer{
  height: 350px;
  background-color: #0A0808;

}
.footer-ul{
  display: flex;
  padding: 0;
  list-style-type: none;
}
.footer-list-item{
  margin-right: 10px;
}
.footer-text-list{
  width: 207px;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  opacity: 0.7;
}
.footer-span-list{
  font-size: 12px;
  color: #FFFFFF;
}
.footer-link{
  text-decoration: none;
  font-size: 12px;
  color: #FFFFFF;
}
.g{
  align-items: center;
}
.footer-link-1{
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  color: #dddbdb;
  opacity: 0.9;
}
.footer-link-2{
  color: #ffffff;
  font-size: 12px;
  text-decoration: none;
}
.footer-link-1:hover{
  font-size: 12px;
  color: #FFFFFF;
}
.footer-list-ul{
  list-style-type: none;
  margin-top: 80px;
  margin-right: 100px;
}
.footer-list-ul-1{
  list-style-type: none;
  margin-top: 85px;
  margin-right: 100px;
}
.foter-list-span{
  font-size: 16px;
  color: #FFFFFF;
}
.footer-input{
  width: 263px;
  height: 55px;
  padding-left: 10px;
  margin-top: 10px;
  opacity: 0.5;
  border: 2px solid #D64374;
  border-radius: 5px;
  background-color: #000000;
}
.footer-box{
  width: 400px;
  margin-top: 80px;
  margin-right: 50px;
}
.footer-botton{
  width: 125px;
  height: 55px;
  position: relative;
  right: 10px;
  background: #D23166;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #ffffff;
}
.footer-list{
  margin-top: 10px;
  margin-left: 15px;
}
.footer-input:focus {
  color: #ffffff;
}